@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-section, .benefits-section, .faqs-section, .support-section {
  padding: 20px;
}


.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #9cf0ff;
}
.responstable tr {
  border: 1px solid #97efff;
}
.responstable tr:nth-child(odd) {
  background-color: #eaf3f3;
}
.responstable th {
  display: none;
  border: 1px solid #fff;
  background-color: #7cc0ff;
  color: #fff;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable tr:nth-child(2) {
  background-color: #cbe6ff;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #88e9ff;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #8ceeff;
  }
}
.responstable th,
.responstable td {
  text-align: left;
  margin: 0.5em 1em;
}
@media (min-width: 480px) {
  .responstable th,
  .responstable td {
    display: table-cell;
    padding: 1em;
  }
}

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #000000;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: black;
}
h1 span {
  color: #000;
}



body {
  margin:0;
  padding:0;
  font-family: 'arial', sans-serif;

}



.faq-list {
    list-style: none;
    padding: 0;
}

.faq-list li {
    margin: 30px 0;
  border: 1px solid rgb(205, 205, 205);
    padding: 27px 30px;
    margin: 0px auto 30px;
    text-align: left;
    width: 550px;
}


.faq-list .faq-heading::before {
    content: '+';
   font-size: 40px;
    display: block;
    position: absolute;
   right:0;
    top: -8px;
  color:#c2c2c2;
}

.faq-list .the-active .faq-heading::before {
    content: '-';
  
}

.faq-heading {
    position: relative;
    cursor: pointer;
    font-size: 18px;
  font-weight: 400;
  margin:0;
}

.faq-heading:hover {
    color: var(--theme-color);
}

.faq-text {
    display: none;
}
.container {
  width: 1200px;
  margin: auto;
}
.art-box svg {
  width:100%;
}
.row {
  display:flex;
}
.row .col {
  flex-basis: 50%;
}
.read {
    color: rgb(100, 100, 100);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 25px;
}

body {
  background-color: #ffffff;
  color: #373539;
  font-family: 'Montserrat', sans-serif;
}

.container {
 padding: 200px;
}

.faq-drawer {
  margin-bottom: 30px;
}

.faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
  font-family: 'Times New Roman', Times, serif;
}

.faq-drawer__title {
  border-top: #000 1px solid;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  padding: 30px 0 0 0;
  position: relative;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: " ";
  display: inline-block;
  float: right;
  height: 10px;
  left: 2px;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 10px;
}

/* OPTIONAL HOVER STATE */
.faq-drawer__title:hover { 
  color: #4E4B52  ;
}

.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 350px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 80px;
  }

}

